/* 
* @Author: Marte
* @Date:   2018-05-28 11:21:35
* @Last Modified by:   Marte
* @Last Modified time: 2018-06-04 13:32:42
*/
*{font-size: 12px;color:#666666;}
#goodsList{min-width: 1190px;}
/*i{display:inline-block;}*/
.hide{display:none;}
#goodsList .bd{border:1px solid #DDDDDD;}
#classification{background:#fff;}
.classificationT{height: 50px;padding:20px 0 18px 0;}
#goodsList .classificationB{height: 212px;border-bottom: 0 none;}
.classificationB dt,.classificationB dd{float:left;}
.classificationB .downIcon{width: 12px;height: 18px;background:url('../img/goodsList.fw.png') -15px 0;}
.classificationB .more{width: 13px;height: 18px;background:url('../img/goodsList.fw.png') 0 0;}
.classificationB i,{margin:4px;}
.classificationB .dl1{height: 70px;border-bottom:1px solid #CCCCCC;}
.classificationB .dl1 dt{height: 68px;}
.classificationB dl{height: 36px;border-bottom: 1px dotted #CCCCCC;line-height: 36px;}
.classificationB .dl1 a{margin-top:15px;display:inline-block;width: 88px;height: 36px;border-right:1px solid #E8E8E8;} 
.classificationB .dl1 dd{width: 85px;margin-right: 10px;}
.classificationB .dl1 img{height: 36px;}
.classificationB dt{width: 100px;height: 34px;background:#F6F6F6;padding-right: 18px;text-align: right;}
.classificationB dd{width: 130px;text-align: center;}
#sort{padding:11px 0 15px 0;}
#sort .container{border:1px solid #DDDDDD;background:#F5F5F5;height: 36px;padding:5px 0 5px 26px;}
.sortL{width: 630px;}
.sortL button{width: 50px;height: 26px;background:#DDDDDD;margin-right: 9px;}
.sortL>span{margin-right: 6px;}
.sortL .sort{width: 38px;height: 26px;border:1px solid #DDDDDD;}
.sortR{width: 368px;height: 26px;line-height: 26px;}
.sortR .totalItem{color:#E80012;margin:0 4px;}
.sortR .percentage{margin-left: 20px;}
#main{background:#fff;}
.goodsShow li{width: 232px;height: 328px;float:left;margin-right: 6px;}
.goodsShow li div{width: 232px;border:1px solid #DDDDDD;border-bottom: 0 none;}
.goodsShow li p:first-of-type{background:#F0A1A1;color:#fff;padding-left: 6px;}
.goodsShow li p{line-height: 18px;}
.goodsShow li p span{font-size: 15px;color:#FF5000;}
.goodsShow li p del{color:#aaa;margin-left: 6px;}
.goodsShow img{height: 238px;width: 230px;}

